<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 18.03.2020, 21:10</p>
            <h2><a href="">My first post</a></h2>
            <p>This is Prashant Verma</p>
        </div>

        <div>
            <p>published: 18.03.2020, 21:10</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my Project</p>
        </div>
    </body>
</html>
